.cover {
  position: relative;
  background-image: url(../../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  padding: 165px 0 50px;
  margin-bottom: 180px;
}
