.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 450px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
